<%= form_for(theme1) do |f| %>
  <% if theme1.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(theme1.errors.count, "error") %> prohibited this theme1 from being saved:</h2>

      <ul>
      <% theme1.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :qty_items %>
    <%= f.number_field :qty_items %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
